.sidebar-link {
	display: flex;
	color: #00a77d;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	list-style: none;
	height: 40px;
	text-decoration: none;
	border-left: 4px solid #e4e4e4;
}

.sidebar-link:hover {
	background: #eeeeee;
	border-left: 4px solid #00a77d;
	cursor: pointer;
}

.dropdown-link {
  background: #e4e4e4;
  height: 40px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00a77d;
  border-left: 4px solid #878787;
}

.dropdown-link:hover {
	background: #eeeeee;
	border-left: 4px solid #00a77d;
	cursor: pointer;
}

.sidebar-nav {
  background: #e4e4e4;
  width: 250px;
  bottom: 0px;
  height: 100vh;
}

.sidebar-wrap {
  width: 100%;
}

.sidebar-label {
  margin-left: 16px;
}