/* general */

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.btn-primary,
.btn-primary:disabled {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
  border-radius: 0;
}

.btn-primary:disabled {
  cursor: not-allowed;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus {
  background-color: #00c506 !important;
  border-color: #00c506 !important;
  color: #ffffff !important;
}

/* sellout section */
.sellout-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.sellout-card {
  align-items: center;
  padding: 1.25rem 2rem;
}

.sellout-icon {
  height: 60px;
}
.sellout-title {
  font-weight: bold;
}

@media (max-width: 768px) and (min-width: 567px) {
  /* sellout section */
  .sellout-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  /* sellout section */
  .sellout-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
